body{
    margin: 0;
    font-family: 'ubuntu' ;
}
h1{
    font-family: 'Lara', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    white-space: nowrap;
    margin: 0;
}
.subtitle{
    font-weight: 700;
    color: #1792d2;
    font-size: 0.75rem;
    margin: 0;

}
header{
    text-align: center;
    background: #f8f8f8;
    padding: 2em 0; 
    margin-bottom: 30px;
}
.container{
    width: 90%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
nav ul{
    list-style:none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li{
    margin: 0 1em;
    white-space: nowrap;
}
nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
}
nav a:hover,
nav a:focus{
    color: #1792d2;
}
.current-page{
    border-bottom: 1px solid #707070; 
       
}
.current-page:hover{
    color: #707070;
}
.article-image{
    width: 714px;
    height: 308px;
}
.article-info{
    font-size: 0.9rem;
    color: #707070
}
.article-title{
    color:#143774
}
.article-body{
    color:#707070;
    font-size: 18px;
    font-weight: 400;
}
.article-recent{
    margin-top: 30px;
}
.article-recent-image{
    width: 198px;
    height: 242px;
}
.strong{
    font-size: 18px;
    font-weight: 700;
}
.high{
    color:#1792d2;
    text-decoration: underline;
}
.article-read-more{
    color:#1792d2;
    font-weight: 700;
    text-decoration: none;
}
.article-recent{
    display:flex;
}
.article-recent-main{
    margin-left: 20px;
}





@media(max-width: 675px){
       .container{
        display: flex;
        flex-direction: column;
    }
    h1{
        white-space: pre-wrap;
    }
}
@media(max-width: 300px){
    h1{
        white-space: pre-wrap;
    }
    nav ul{
        flex-direction: column;
    }
}