body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5px;
    color: #707070;
}
.col-1{
    background-color: #fafafa;
    padding: 30px;
    margin: 1rem;
}
.site-title{
    border: 2px solid magenta
}
.h11{
    text-align: center;
    margin:0;
    font-size: 3.375rem;
}
.subtitle{
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    margin: 0;
    color: #1792d2;
    font-weight:bolder;
    margin-bottom: 30px;;

}
a{
    text-decoration:none;
    color: #555;
}

.ul1{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding:0;
}
.li1{
    font-size: 1rem;
    margin: 0px 20px;
}
li:first-child{
    text-decoration: underline;
    text-decoration-color: #143774;
}

.h12{
    font-size: 3.375rem;
    margin: 0;
}
.h62{
    margin: 0;
    font-size: 0.75rem;
    color: #1792d2;
    text-transform: uppercase;
}
.col-2{
    background:#fafafa;
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem;
    margin: 8px auto
}
.col-3{
    display: flex;
    justify-content: center;
}
.col-3-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#fafafa;
    width: 350px;
    height: 350px;
}
.ul2{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    font-size: 1rem;
    justify-content: space-between;
    height: 80px;
}